body{
font-family: 'Inter', sans-serif;
    margin: auto;
}

h1{
    font-size: 65px;
    font-weight: bolder;
    color: white;

}

p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-bottom: 70px;
}

.common-section-area{
    text-align: center;
    color: #707070;
    margin-left: 20%;
    margin-right: 20%;
}

.common-section-area h2 {
    margin: 0;
    font-size: 45px;
    font-weight: bolder;
    color: #121212;
}

.common-section-area p {
    color: #707070;
}




#banner{
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 170px;
}

#banner p {
        color: white;
}

.button-color{
    background-color:#FF5959;
}

.button {
    text-decoration: none;
    padding: 20px 20px;
    font-weight: 600;
    color: white;
    border-radius: 10px;
    font-size: 20px;
}




#donate-today{
    text-align: center;
    padding: 50px 80px;
    margin: 80px 100px;
    
}

#donate-today #input-text{
    border: none;
    border-bottom: 2px solid #DADADA;
    width: 80%;
    padding: 20px;
    margin: 50px;
  
}

#donate-today ::placeholder {
    color: #B3B3B3;
    opacity: 1;
    font-size: 18px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.bdt-flex{
    display: flex;
    justify-content: space-between;


}
.bdt-div-width{
    font-size: 30px;
    font-weight: bolder;
    color: #707070;
    padding: 15px;
    margin: 15px;
    background-color: #FAFAFA;
    border-radius: 10px;
}

#bdt-red-border{
    border: 4px solid #FF5959;
    background-color: #FFEEEE;
}

#bdt-red-border h3{
    color: #FF5959;
}


#donate-plan{
    margin-bottom: 80px
}
#donate-plan h4{
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}

.plan-flex{
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
}

.plan-div-width{
    width: 40%;
    margin-left: 2%;
    padding: 2%;
    padding-bottom: 0%;
    border-radius: 10px;
}

.plan-div-width p{
    font-size: 16px;
    color: #707070;
}

.plan-div-width img {
    width: 40%;
    height: 25%;
}


#email-subscription{
    background-color: #FFF4D6;
    width: 60%;
    padding: 8%;
    margin-left: 12%;
    margin-bottom: 10%;
}


#email-subscription input{
    width: 300px;
    padding: 2.5%;
    margin-left: 25%;
    border-radius: 5%;
    background-color: #D9D9D9;
    border: none;
}


#email-subscription a {
    font-size: 16px;
    margin-left: 0;
}



#email-subscription ::placeholder {
    color: #B3B3B3;
    font-size: 18px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
}


#thank-you{
    padding: 6%;
    text-align: center;
}
#thank-you p{
    color: #707070;
    font-size: 16px;

}

.thank-you-div-width {
    font-size: 30px;
    color: #707070;
 border: #FF5959;
    border-radius: 10px;
}

footer{
    text-align: center;
    background-color: #0B0D17;
    padding: 10px;
}
footer h5{
    font-size: 36px;
    color: #FF5959;
    font-family: 'Lobster', cursive;
}
footer p{
    font-size: 14px;
    color: #D9DBE1;
}

